<?php

namespace $namespacecontroller;

use component\controller\$extendsclassnameController;

/**
 * Class $classname
 * @package $namespacecontroller
 */
class $classname extends $extendsclassnameController
{
    public function indexAction()
    {
    }
}